<html>
    <head>
        <title>FITHUB</title>
    </head>
<body>
<main>
    <div class="heading">
        <h1>GYMS</h1>
    </div>
    <%- include("format", {result}); %>
</main>
<a href="../search2.html">CLICK HERE TO CONTINUE</a>
</body>
</html>