<html>
    <head>
        <title>FITHUB</title>
    </head>
<body>
<main>
    <div class="heading">
        <h1>GYM REVIEWS</h1>
    </div>
      <%- include("gymreview", {result}); %>   
</main>
 </body>
</html>