<html>
    <head>
        <title>FITHUB</title>
    </head>
<body>
<main>
    <div class="heading">
        <h1>CUSTOMER REVIEWS</h1>
    </div>
    <%- include("viewreview", {result}); %>
</main>
</body>
</html>